*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#050816;
    color:white;
    overflow-x:hidden;
}

/* SIDEBAR */

.sidebar{
    width:300px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:1500;

    background:linear-gradient(180deg,#0f172a,#070b16);
    border-right:1px solid rgba(255,255,255,0.08);

    padding:28px 20px;

    transition:0.4s ease;
}

.sidebar.collapsed{
    width:90px;
}

.sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:45px;
}

.logo{
    font-size:34px;
    font-weight:800;
    color:white;
    transition:0.3s;
}

.logo span{
    color:#ff3131;
}

.sidebar.collapsed .logo{
    opacity:0;
    width:0;
    overflow:hidden;
    pointer-events:none;
}

.menu-toggle{
    width:46px;
    height:46px;

    border:none;
    border-radius:15px;

    background:rgba(255,255,255,0.08);
    color:white;

    font-size:20px;
    cursor:pointer;

    transition:0.3s;
}

.menu-toggle:hover{
    background:#ff3131;
    box-shadow:0 10px 25px rgba(255,49,49,0.35);
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:16px;
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:18px;

    height:56px;

    color:white;
    text-decoration:none;

    padding:0 18px;